@use 'styles/index' as *;

.list-container {
  @include fade-in;

  display: block;

  padding-left: 280px;
  padding-right: 262px;
  padding-bottom: 99px;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(424px, max-content));
    justify-content: center;
    gap: 35px;

    card {
      cursor: pointer;
    }
  }
}
