@use 'styles/index' as *;

film-add {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    pointer-events: all;
  }

  .panel {
    z-index: 1;
    background: white;
    width: 600px;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 24px 32px;
    box-shadow: 0 0 12px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #00305a;

    .title {
      margin-top: 24px;
      margin-bottom: 38px;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }

    label {
      display: block;
      margin-top: 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 31px;
    }

    input[type='text'],
    textarea,
    select {
      width: 100%;
      height: 60px;
      margin-top: 4px;
      padding: 8px 24px;
      font-size: 14px;
      line-height: 21px;
      border: 2px solid #d0d0d080;
      border-radius: 4px;
      background-color: #f1f1f180;
      box-sizing: border-box;

      &::placeholder {
        color: #969696;
      }
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    .error {
      color: #b00020;
      font-size: 14px;
      margin-top: 4px;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
      gap: 12px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 0 40px;
        border-radius: 2px;
        cursor: pointer;

        &.cancel {
          background: $gray;

          &:hover {
            background: #ddd;
          }
        }

        &.submit {
          background: $fg-color;
          color: white;

          &:hover {
            background: #2f3a6d;
          }
        }
      }
    }
  }
}
