<img src="images/ui/starwarsLogoS.png" />
<div class="buttons">
  <div class="button" (click)="router.navigateByUrl('home')">Star Wars</div>
  <a class="button" (click)="router.navigateByUrl('films')">Filme</a>
  <div class="button" (click)="router.navigateByUrl('characters')">Charaktere</div>
  <div class="button" (click)="router.navigateByUrl('planets')">Planeten</div>
</div>
<div class="search-field">
  <input type="search" class="search" />
  <img class="icon" src="images/ui/glas.png" />
</div>
