@use '../../shared/styles/forms.shared.scss';

character-add {
  .grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    max-width: 600px;

    .field {
      display: flex;
      flex-direction: column;
    }
  }
}
