slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .img {
    display: block;
    width: 100%;
    height: auto;
  }

  .bullets {
    display: flex;
    gap: 5px;

    .bullet {
      width: 11px;
      height: 11px;
      border-radius: 50%;

      background-color: rgba(#404040, 0.43);

      &.selected {
        background-color: rgba(#b88282, 0.47);
      }
    }
  }
}
