details-buttons-row {
  display: block;

  .label {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 9px;
  }

  .buttons {
    display: flex;
    gap: 20px;
  }
}
